<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.diagnostics>
    <trace>
      <listeners>
        <clear/>
      </listeners>
    </trace>
    <sources>
      <source name="CodeChecker" switchName="standard">
        <listeners>
          <clear/>
          <add name="console"/>
          <add name="file" />
        </listeners>
      </source>
    </sources>
    <switches>
      <clear/>
      <add name="none" value="Off"/>
      <add name="standard" value="Warning"/>
    </switches>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
      <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="results.txt"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>